*{margin:0px;padding:0px;}

/*body {
    background:url(../img/datboi.jpg) top right no-repeat;
    background-attachment:fixed;
}*/

g.node {
    font-family: Verdana;
    font-size: 12px;
}

@keyframes blinker {  
    50% { opacity: 0; }
}

circle.node-dot {
    stroke: black;
    stroke-width: 1px;
}

path.link {
    fill: none;
    stroke: gray;
}

table {
    background: gray;
    color: white;
    opacity: 0.9;
    height: 50px;
}

text.mouseover {
    fill: blue;
}

text.mouseout {
    fill: black;
}

body, td {
    font: 13px Verdana;
}

p {
    display: inline;
}

#infobar {
    width: 100%;
}

#infobaralias {
    display: none;
}
