<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>

<div id="infobar">
    <table width="100%">
      <tr>
          <td>Application: <p id="application"></p></td>
      </tr>
        <tr>
            <td>Version: <p id="version"></p></td>
        </tr>
    </table>
</div>
<div id="infobaralias"></div>
<div id="pipeline"></div>

<script type="text/javascript" src="static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="static/js/d3.min.js"></script>
<script type="text/javascript" src="static/js/d3.layout.min.js"></script>
<script type="text/javascript" src="static/js/pipeline.js"></script>

<script>
    $(function () {
        var eventContainer = document.getElementById("event");
        var eventSource = new EventSource("/events");

        var infoBar = $('#infobar').offset().top;

        $(window).scroll(function(){
                if( $(window).scrollTop() > infoBar ) {
                        $('#infobar').css({position: 'fixed', top: '0px'});
                        $('#infobaralias').css('display', 'block');
                } else {
                        $('#infobar').css({position: 'static', top: '0px'});
                        $('#infobaralias').css('display', 'none');
                }
        });

        var dispatchEvent = function(event_data) {
         $.each(event_data, function(job, status) {
                console.log(status);
                handler = d3.select('#'+job.toLowerCase()+'-circle');
                if (status.is_running) {
                    handler.style('animation', 'blinker 2s linear infinite');
                } else {
                    handler.style('animation', 'false');
                }
                if (status.is_good) {
                    handler.style('fill', 'blue')
                } else {
                    handler.style('fill', 'red')
                }
            })
         }

         eventSource.onopen = function(e) {
            console.log('Connection opened, getting results from cache');
         };

         eventSource.onmessage = function(e) {
            event_data = JSON.parse(e.data);
            dispatchEvent(event_data);
         };

        $.getJSON('/pipeline', function(data) {
            buildPipeline("#pipeline", data);
            console.log('test');
        })
        .fail(function() {
            console.log("Corrupted pipeline JSON file");
        })

    });
</script>

</body>
</html>
