<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
<div id="pipeline"></div>

<script type="text/javascript" src="static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="static/js/d3.min.js"></script>
<script type="text/javascript" src="static/js/d3.layout.min.js"></script>
<script type="text/javascript" src="static/js/pipeline.js"></script>

<script>
    $(function () {
        var eventContainer = document.getElementById("event");
        var eventSource = new EventSource("/events");
        var interval = 10;

        function update() {
            $.get('/update', function(data) {})
        }

         eventSource.onmessage = function(e) {
            event_data = JSON.parse(e.data);
            $.each(event_data, function(job, status) {
                console.log(status);
                handler = d3.select('#'+job.toLowerCase()+'-circle');
                if (status.is_running) {
                    handler.style('animation', 'blinker 2s linear infinite');
                } else {
                    handler.style('animation', 'false');
                }
                if (status.is_good) {
                    handler.style('fill', 'blue')
                } else {
                    handler.style('fill', 'gray')
                }
            })
         };

        $.getJSON('/pipeline', function(data) {
            buildPipeline("#pipeline", data);
            update();
            setInterval(update, 3600*interval);
        })
        .fail(function() {
            console.log("Corrupted pipeline JSON file");
        })



    });
</script>

</body>
</html>
